{{#if theme_settings.show_product_quantity_box}}
    <div class="form-field form-field--increments">
        <label id="qtyLabel" class="form-label form-label--alternate" for="qty[]">{{lang 'products.quantity'}}</label>
        <div class="form-increment" data-quantity-change>
            <button class="button button--icon" data-action="dec">
                <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                <i class="icon" role="presentation">
                    <svg role="presentation">
                        <use xlink:href="#icon-keyboard-arrow-down" />
                    </svg>
                </i>
            </button>
            <input aria-labelledby="qtyLabel" class="form-input form-input--incrementTotal" id="qty[]" name="qty[]"
                type="tel" value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                data-quantity-min="{{product.min_purchase_quantity}}" data-quantity-max="{{product.max_purchase_quantity}}"
                min="1" pattern="[0-9]*" aria-live="polite">
            <button class="button button--icon" data-action="inc">
                <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                <i class="icon" role="presentation">
                    <svg role="presentation">
                        <use xlink:href="#icon-keyboard-arrow-up" />
                    </svg>
                </i>
            </button>
        </div>
    </div>
{{/if}}

{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
    <div class="form-action">
        <div class="row">
            <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}"
                class="atc-button product-atc--btn" type="submit"
                value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}">
        </div>
    </div>
    {{{snippet 'product_addtocart'}}}
{{/or}}