<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KH7P2ZR');</script>
    <!-- End Google Tag Manager -->

    <title>{{#if product.brand}}{{product.brand.name}}: {{/if}}{{ head.title }}</title>
    {{{ resourceHints }}}
    {{{ head.meta_tags }}}
    {{{ head.config }}}
    {{#block "head"}} {{/block}}

    <link href="{{ head.favicon }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {{> components/common/polyfill-script }}

    {{!-- Load Lazysizes script ASAP so images will appear --}}
    <script>
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.loadMode = 1;
    </script>
    <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js'}}"></script>

    {{{stylesheet '/assets/css/theme.css'}}}

    {{{head.scripts}}}

    {{~inject 'themeSettings' theme_settings}}
    {{~inject 'genericError' (lang 'common.generic_error')}}
    {{~inject 'maintenanceModeSettings' settings.maintenance}}
    {{~inject 'adminBarLanguage' (langJson 'admin')}}
    {{~inject 'urls' urls}}
    {{~inject 'secureBaseUrl' settings.secure_base_url}}
    {{~inject 'cartId' cart_id}}
    {{~inject 'channelId' settings.channel_id}}
    {{~inject 'template' template}}
    
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One:400|Nunito:300,400,600,700,800|Open+Sans:300,400,600&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://organicstart.com" />
    <meta property="ix:host" content="triad.imgix.net">
    <meta property="ix:useHttps" content="true">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KH7P2ZR" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {{> os/components/common/symbols}}
    <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

    <div id="tint"></div>

    {{> os/components/cart/sidebar}}
    {{> os/components/common/navigation/navigation-mobile}}
    {{> os/components/common/banner }}
    {{> os/components/common/logo }}
    {{> os/components/common/header }}

    {{> os/components/common/header }}
    {{> os/components/common/body }}
    {{> os/components/common/footer }}

    <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
    <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
    <script>
        window.stencilBootstrap("{{page_type}}", {{ jsContext }}).load();
        window.organicStart.start();
    </script>
    {{#block "scripts"}} {{/block}}
    {{{footer.scripts}}}
</body>

</html>